<h1>Welcome to The Building Management Inventory System!</h1>

    <p> <ul>
            <li> Here you will be able to select your building or create a new building. </li> 
            <li> Create a User Name and Password. </li>
            <li> Log in via Facebook or Github account.</li>
            <li> Create a product. </li>
            <li> Add your product to your building.</li>
            <li> Review your building products. </li>
            <li> Review your assign buildings.</li>
    
        </ul> 
    </p>

<h2><%= link_to "Log In", "/login" %></h2>

<h2><%= link_to "Sign Up", "/signup" %></h2>

<h2><%= link_to('Log in with Facebook!', '/auth/facebook') %></h2>

<h2><%= link_to('Log in with Github!', '/auth/github') %></h2>


