<h1>Welcome to Building Management Inventory System!</h1>

<h2><%= link_to "Log In", "/login" %></h2>

<h2><%= link_to "Sign Up", "/signup" %></h2>

<h2><%= link_to('Log in with Facebook!', '/auth/facebook') %></h2>

<h2><%= link_to('Log in with Github!', '/auth/github') %></h2>


