
<%= link_to 'Home', sessions_path %>

<h1>My Buildings</h1>

<div>
  <ul>
   <%  @user_buildings.each do |building| %>
<li>
    <strong><%= link_to building.name, building_path(building)%></strong> 
    
</li>

</div>

<br></br>


<% end %>



